@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-navbar {
  font-family: 'Bebas Neue', Arial, sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 2px;
} 