:root {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.bebas {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
} 